*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(43, 43, 43);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    flex-direction: row;
}
.drop > h3{
    background-color:  white;
    color: rgb(7, 7, 7);
}

.drop{
    background-color: white;
    height: max-content;
    min-height: 350px;
    width: 300px;
    border-radius: 14px;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px 0px;
}
.draggable{
    width: 90%;
    height: 60px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    color: white;
    margin: 5px 0px;
    cursor: move;
}
.dragging{
    opacity: 0.9;
}